if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_layout/*'
@import '_page/*'
@import '_tags/*'
@import '_mode/*'
@import '_sxiaohe_page_style/**/*.css'
@import '_sxiaohe_page_styl/**/*'
@import './console.css'
@import './calendar.css'
@import './coin.css'