link(rel='stylesheet' href="https://blog.zhheo.com/plugin/aplayer/APlayer.min.css" media="print" onload="this.media='all'")
script(src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.js")
//- script(src="https://blog.zhheo.com/plugin/aplayer/Meting2.min.js")