link(rel='stylesheet' href=url_for(theme.asset.aplayer_css) media="print" onload="this.media='all'")
script(type="module" src=url_for(theme.asset.aplayer_js))
script(src=url_for(theme.asset.meting_js))
script(nomodule src=url_for(theme.asset.aplayer_js))