//- #loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")' style="opacity: 1;background-color: #272727;")
//-   .loading.line.left-0.right-0.transition-all.duration-1000.ease-in-out
//-   .loading.line.top-0.bottom-0.transition-all.duration-1000.ease-in-out
//-   .loading-bg(style="justify-content: center;padding-top: 8rem;")
//-     .flex-grow
//-     .loading-svg
//-       i.myxzfont.myxzfonttitle_arknights(style="font-size: 35px;")
//-     //- .loading-image-dot
//-     .flex-grow
//-     .loading-body(style="margin-top: 20.125rem;display: flex;align-items: flex-end;")
//-       .loading-body-left(style="flex: none;margin-left: auto;margin-right: 18.125rem;width: 10.5rem;")
//-         i.myxzfont.myxzfonta-wenben11(style="font-size: 10px;")
//-       .loading-body-right(style="flex: none;margin-right: auto;width: 840px;")
//-         .loading-body-right-bar
//-           .loading-body-right-bar-1(style="width: 100%;height: 2px;background-color: #a4a4a4;")
//-           .loading-body-right-bar-2
//-         .loading-body-right-powerby
//-           span.powername ARKNIGHTS
//-           span.power-br
//-           span.powersite https://ak.hypergryph.com/
astro-island(await-children="" client="load" component-export="Init" component-url="/_astro/Init.C7nNBPoM.js" opts="{&quot;name&quot;:&quot;Init&quot;,&quot;value&quot;:true}" prefix="r0" props="{}" renderer-url="/_astro/client.BY2mA-CD.js" uid="Z21gHtG")
  div(class="fixed inset-0 bg-[#272727] flex flex-col items-center justify-center z-50 font-benderBold transition-opacity duration-1000 opacity-0" stle="display: flex;width: 100%;height: 100%;position: fixed;")
    div(class="absolute left-0 right-0 h-[0.05vw] bg-[#686767] transition-all duration-1000 ease-in-out top-[-5vw]")
    div(class="absolute top-0 bottom-0 w-[0.05vw] bg-[#686767] transition-all duration-1000 ease-in-out right-[-5vw]")
    .flex.flex-col.h-full.items-center.justify-center.w-full
      .flex-grow
      div(class="flex items-center justify-center mb-[2vw]")
        svg(class="w-[13vw] h-[17vw] max-w-full text-[rgb(164,164,164)]" viewBox="0 0 254 119")
          use(xlink:href="#svg_def-title_arknights")
      .flex-grow
      div(class="w-full max-w-[90vw] px-[2vw] absolute" style="top:75%")
        .flex.items-start
          div(class="whitespace-nowrap mr-[15vw] text-[1.2vw]" style="color:rgb(164,164,164)")
            span © YUE_PLUS
          div(class="flex-grow  pl-[5vw] pr-[5.5vw]")
            div(class="relative h-[0.3vw] flex items-center" style="background-color:transparent")
              div(class="absolute left-0 w-[0.3vw] h-[0.3vw]" style="background-color:rgb(164,164,164)")
              div(class="absolute right-0 w-[0.3vw] h-[0.3vw]" style="background-color:rgb(164,164,164)")
              div(class="absolute top-[0.1vw] left-0 right-0 h-[0.1vw]" style="background-color:rgb(164,164,164)")
              div(class="absolute top-0 left-0 h-[0.3vw] transition-all duration-300 ease-linear" style="width: 100%; background-color: rgb(97, 206, 250);")
            div(class="flex justify-between items-center mt-[0.8vw]")
              div(class="flex items-center text-[0.8vw]" style="color:#61cefa")
                svg(class="w-[0.8vw] h-[0.8vw] mr-[0.4vw]" viewBox="0 0 13 11")
                  use(xlink:href="#svg_def-icon_dblArrow")
                span
              div(class="flex items-center text-[0.8vw]" style="color:rgb(164,164,164)")
                span
                span(class="mx-[0.8vw]")
                span
      .flex-grow
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2FSvgIcons.TWd2scc6.js")
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2Findex.B52nOzfP.js")
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2Findex.BSdFiPHn.js")
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2Findex.CUIWiGkV.js")
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2Fjsx-runtime.CRkqtJS5.js")
script(defer src="https://sourceimage.s3.bitiful.net/js%2Flib%2F_loading_init%2FrootLayoutStore.iSVMtIyF.js")
style.
  /* 图标字体封装 */
  @font-face {
    font-family: "myxzfont"; /* Project id 4820164 */
    src: url('//at.alicdn.com/t/c/font_4820164_njx234ke56b.woff2?t=1743686975558') format('woff2')
  }
  .myxzfont {
    font-family: "myxzfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .myxzfonta-wenben11:before {
    content: "\e604";
  }
  .myxzfonttitle_arknights:before {
    content: "\e602";
  }
  .myxzfontgonggao:before {
    content: "\e61d";
  }
  /* 美化加载动画 */
  .duration-1000 {
    transition-duration: 1s;
  }
  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
  }
  .opacity-100 {
    opacity: 1;
  }
  .font-benderBold {
    font-family: Bender-Bold;
  }
  .bg-\[\#272727\] {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 39 / var(--tw-bg-opacity));
  }
  .justify-center {
    justify-content: center;
  }
  .items-center {
    align-items: center;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex {
    display: flex
  ;
  }
  .z-50 {
    z-index: 50;
  }
  .inset-0 {
    inset: 0;
  }
  .fixed {
    position: fixed;
  }
  .ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  .duration-1000 {
    transition-duration: 1s;
  }
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
  }
  .bg-\[\#686767\] {
    --tw-bg-opacity: 1;
    background-color: rgb(104 103 103 / var(--tw-bg-opacity));
  }
  .h-\[0\.05vw\] {
    height: .05vw;
  }
  .top-\[5vw\] {
    top: 5vw;
  }
  .right-0 {
    right: 0;
  }
  .left-0 {
    left: 0;
  }
  .absolute {
    position: absolute;
  }
  .justify-center {
    justify-content: center;
  }
  .items-center {
    align-items: center;
  }
  .flex-col {
    flex-direction: column;
  }
  .w-full {
    width: 100%;
  }
  .h-full {
    height: 100%;
  }
  .flex {
    display: flex;
  }
  .flex-grow, .grow {
    flex-grow: 1;
  }
  .justify-center {
    justify-content: center;
  }

  .items-center {
    align-items: center;
  }
  .flex {
    display: flex
  ;
  }
  .mb-\[2vw\] {
    margin-bottom: 2vw;
  }
  .text-\[rgb\(164\,164\,164\)\] {
    --tw-text-opacity: 1;
    color: rgb(164 164 164 / var(--tw-text-opacity));
  }
  .max-w-full {
    max-width: 100%;
  }
  .w-\[13vw\] {
    width: 13vw;
  }
  .h-\[17vw\] {
    height: 17vw;
  }
  svg, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }
  .items-start {
    align-items: flex-start;
  }

script.
//-   const preloader = {
//-     endLoading: () => {
//-       document.body.style.overflow = 'auto';
//-       document.getElementById('loading-box').classList.add("loaded")
//-     },
//-     initLoading: () => {
//-       document.body.style.overflow = '';
//-       document.getElementById('loading-box').classList.remove("loaded")

//-     }
//-   }
//-   window.addEventListener('load',()=> { preloader.endLoading() })

//-   if (!{theme.pjax && theme.pjax.enable}) {
//-     document.addEventListener('pjax:send', () => { preloader.initLoading() })
//-     document.addEventListener('pjax:complete', () => { preloader.endLoading() })
//-   }
//- ._b775b841(style="transform: translateY(0px);")
//-   ._7c7241c0
//-     ._dd208b33
//-       ._369c736f._8f5b35e5
//-         ._b4aa8560
//-           svg(viewBox="0 0 254 119")
//-             use(xlink:href="#svg_def-title_arknights")
//-         ._fa9747ca
//-           ._4f8ab24e
//-             svg(viewBox="0 0 166 18")
//-               use(xlink:href="#svg_def-copyright_mini")
//-           ._ad713ab8
//-             ._6e475a05
//-               ._bfb96139
//-               ._be495656(style="width: 100%;")
//-             ._456f799b
//-               ._65701373
//-                 svg._c50a93aa(viewBox="0 0 13 11")
//-                   use(xlink:href="#svg_def-icon_dblArrow")
//-                 span LOADING&nbsp;-&nbsp;
//-                 span 100
//-                 | % &nbsp;
//-                 span ......
//-               ._ca6c1de2
//-                 span._bc36373f ARKNIGHTS
//-                 span._3f978d81
//-                   | //
//-                   // 
//-                   | nbsp;&nbsp;&nbsp;&nbsp;
//-                   // 
//-                   | ttps://ak.hypergryph.com/
//- style.
//-   ._b775b841 {
//-     position: relative;
//-     width: 100%;
//-     height: 100%;
//-     transition-property: transform;
//-     transition-duration: .6s;
//-   }
//-   ._7c7241c0 {
//-     width: 100%;
//-     height: 100%;
//-     background-image: url(https://web.hycdn.cn/arknights/official/_next/static/media/bg.c03d00a6.jpg);
//-     background-position: 50%;
//-     background-size: cover;
//-     background-repeat: no-repeat;
//-   }
//-   ._7c7241c0 ._dd208b33, ._7c7241c0 ._dd208b33 ._ddf4d292 {
//-     position: relative;
//-     width: 100%;
//-     height: 100%;
//-   }
//-   ._7c7241c0 ._dd208b33 {
//-     max-width: 180rem;
//-     margin: auto;
//-   }
//-   ._369c736f._8f5b35e5 {
//-     opacity: 0;
//-     visibility: hidden;
//-   }

//-   ._369c736f {
//-     position: absolute;
//-     top: 0;
//-     left: 0;
//-     width: 100%;
//-     height: 100%;
//-     z-index: 24;
//-     background-color: #272727;
//-     padding-top: 8rem;
//-     display: flex;
//-     flex-direction: column;
//-     align-items: center;
//-     justify-content: center;
//-     color: #a4a4a4;
//-     transition: opacity 1s, visibility 1s;
//-   }
//-   ._369c736f._8f5b35e5:before {
//-     top: -.25rem;
//-   }
//-   ._369c736f:after, ._369c736f:before {
//-     transition: top 1s, right 1s;
//-   }
//-   ._369c736f:before {
//-     width: 100%;
//-     height: 1px;
//-     left: 0;
//-     top: 6.625rem;
//-   }
//-   ._369c736f:after, ._369c736f:before {
//-     content: "";
//-     display: block;
//-     position: absolute;
//-     background-color: hsla(0, 0%, 100%, .3);
//-   }
//-   ._369c736f ._b4aa8560 {
//-     width: 15.875rem;
//-   }
//-   ._7c7241c0 svg {
//-     pointer-events: none;
//-   }
//-   ._7c7241c0 img, ._7c7241c0 svg {
//-     display: block;
//-     width: 100%;
//-     height: auto;
//-   }
//-   ._369c736f ._fa9747ca {
//-     margin-top: 20.125rem;
//-     display: flex
//-   ;
//-     align-items: flex-end;
//-   }
//-   ._369c736f ._fa9747ca ._4f8ab24e {
//-     flex: none;
//-     margin-left: auto;
//-     margin-right: 18.125rem;
//-     width: 10.5rem;
//-   }
//-   ._7c7241c0 svg {
//-     pointer-events: none;
//-   }
//-   ._7c7241c0 img, ._7c7241c0 svg {
//-     display: block;
//-     width: 100%;
//-     height: auto;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 {
//-     flex: none;
//-     margin-right: auto;
//-     width: 68.5rem;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._6e475a05 {
//-     position: relative;
//-     width: 100%;
//-     height: 6px;
//-     border-left: 6px solid #a4a4a4;
//-     border-right: 6px solid #a4a4a4;
//-     display: flex
//-   ;
//-     align-items: center;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._6e475a05 ._bfb96139 {
//-     width: 100%;
//-     height: 2px;
//-     background-color: #a4a4a4;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._6e475a05 ._be495656 {
//-     position: absolute;
//-     height: 100%;
//-     left: 0;
//-     top: 0;
//-     background-color: #18d1ff;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._456f799b {
//-     margin-top: .75rem;
//-     display: flex
//-   ;
//-     align-items: center;
//-     justify-content: space-between;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._456f799b ._65701373 {
//-     display: flex
//-   ;
//-     align-items: center;
//-     font-family: Bender-Bold;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._456f799b ._65701373 ._c50a93aa {
//-     width: .75rem;
//-     margin-right: 1rem;
//-   }

//-   ._7c7241c0 svg {
//-     pointer-events: none;
//-   }
//-   ._7c7241c0 img, ._7c7241c0 svg {
//-     display: block;
//-     width: 100%;
//-     height: auto;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._456f799b ._ca6c1de2 ._bc36373f {
//-     font-family: Bender-Bold;
//-     margin-right: 2rem;
//-   }
//-   ._369c736f ._fa9747ca ._ad713ab8 ._456f799b ._ca6c1de2 ._3f978d81 {
//-     font-family: Bender-Regular;
//-   }