link(as="style" href=url_for(theme.preloader.pace_css_url || theme.asset.pace_default_css) onload="this.rel='stylesheet'" rel="preload")
noscript
  link(href=url_for(theme.preloader.pace_css_url || theme.asset.pace_default_css) rel="stylesheet")