#icat-bber
    section.icat-page
        case theme.essay.mode
            when 'local'
                include ./jike-custom/local.pug
            when 'json'
                include ./jike-custom/json.pug
            when 'memos'
                include ./jike-custom/memos.pug
style.
  #icat-bber .icat-page #waterfall .icat-bber-item .icat-bber-content .icat-bber-image .imgbox a {
    height: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    position: relative;
  }
  #icat-bber .icat-page #waterfall .icat-bber-item {
    max-width: 32%;
    width: 100%
  }
  @media screen and (max-width: 1200px) {
  #icat-bber .icat-page #waterfall .icat-bber-item {
    column-count: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
  }
  }
  @media screen and (max-width: 900px) {
  #icat-bber .icat-page #waterfall .icat-bber-item {
    column-count: 2;
  }
  }
  @media screen and (max-width: 480px) {
  #icat-bber .icat-page #waterfall .icat-bber-item {
    column-count: 1;
  }
  }