#nav .menus_items .menus_item {
    padding: 0 .4rem!important;
    border-radius: 50px;
    font-size: 1.3em;
}
ul.menus_item_child {
    padding: 6px 4px;
}
#nav .menus_items .menus_item .menus_item_child {
    border-radius: 50px;
}
#nav .menus_items {
    display: inline;
    font-size: 1.3em;
}

#nav #blog_name a, #nav #menus a, #nav #nav-right #toggle-menu a, #nav #nav-right .nav-button a, #nav .mask-name-container a {
    border-radius: 50px;
}