/* 菜单其他样式 */
/* 由苏晓河进行编写以及调整 */
/* 时间：2025年2月4日 */

#nav .menus_items .menus_item {
    border-radius: 50px;
    font-size: 0.95em;
}
ul.menus_item_child {
    padding: 6px 4px;
}
#nav .menus_items .menus_item .menus_item_child {
    border-radius: 50px;
}
#nav .menus_items {
    font-size: 1.3em;
}

#nav #blog_name a, #nav #menus a, #nav #nav-right #toggle-menu a, #nav #nav-right .nav-button a, #nav .mask-name-container a {
    border-radius: 50px;
}

span.menuname {
    font-weight: 700;
    padding: 0 .8em 0 1em;
}

#menus>div.menus_items>div>a {
    padding: 0!important;
}