#wiki_page
  each i in site.data.wiki
    main
      each item in i.wiki_list
        .wiki_items 
          div(class="wiki_card" style="border-radius: 30px;background:rgb(255,255,255,0.67);")
            .cover.preview
              img.wiki(src=item.icon)
            .cover-title(style="font-weight: 700;font-size: 1.5rem;line-height: 1.2;")
              span.wiki_title= item.wiki_title || _p('no_title')
            .description(style="margin: 1rem 0;")
              span.description= item.description || _p('no_description')
            .start-wrap
              a.button.gradient.start(href=item.links style="font-weight: 500;line-height: 1;padding: .75rem 2rem;border-radius: 4px;font-size: .9375rem;user-select: none;") 开始使用
style.
  div#page {
    border: none!important;
    background: none!important;
  }
  .wiki_card {
    max-width: 300px;
    padding: 20px 20px;
  }
  .wiki_card {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fsp);
  }
  .cover.preview {
    margin-bottom: 2rem;
  }
  img.wiki {
    object-fit: contain;
    min-width: 96px;
    min-height: 96px;
    max-height: 164px;
    max-width: 100%;
  }
  .start-wrap {
    margin: 2rem 0;
    flex-shrink: 0;
  }
  a.button.start {
    border-radius: 100px;
    background: var(--text-p1);
    color: var(--card);
  }
  a.button.start.gradient {
    position: relative;
    z-index: 0;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.12) 0px 0px 1px;
    transition: 0.38s ease-out;
    background: linear-gradient(to right, rgb(76, 149, 250), rgb(56, 201, 250), rgb(36, 249, 196), rgb(36, 249, 196), rgb(56, 201, 250), rgb(76, 149, 250)) 0% 0% / 1000%;
    animation: 60s linear 0s infinite normal none running glow;
  }