style.
  /* 友链页面模块美化 */
  /* 由苏晓河进行编写以及调整 */
  /* 时间：2025年3月7日 */

  .volantis-flink-list .flink-list-item {
    margin: 8px;
    width: calc(100% / 4 - 16px);
    display: block;
    line-height: 1.4;
    height: 100%
  }

  @media screen and (min-width: 2048px) {
    .volantis-flink-list .flink-list-item {
        width:calc(100% / 5 - 16px)
    }
  }

  @media screen and (max-width: 768px) {
    .volantis-flink-list .flink-list-item {
        width:calc(100% / 3 - 16px)
    }
  }

  @media screen and (max-width: 500px) {
    .volantis-flink-list .flink-list-item {
        width:calc(100% / 2 - 16px)
    }
  }

  .volantis-flink-list .flink-list-item .img {
    height: 150px
  }

  @media screen and (max-width: 450px) {
    .volantis-flink-list .flink-list-item .img {
        height:130px
    }
  }

  .volantis-flink-list .flink-list-item .img img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover
  }

  .volantis-flink-list .flink-list-item .info {
    margin-top: 8px;
    height: 55px;
  }

  .volantis-flink-list .flink-list-item .info img {
    width: 32px;
    height: 32px;
    pointer-events: none;
    border-radius: 16px!important;
    float: left;
    margin-right: 8px!important;
    -webkit-transition: height .5s ease,width .5s ease,margin .5s ease!important;
    -moz-transition: height .5s ease,width .5s ease,margin .5s ease!important;
    -o-transition: height .5s ease,width .5s ease,margin .5s ease!important;
    -ms-transition: height .5s ease,width .5s ease,margin .5s ease!important;
    transition: height .5s ease,width .5s ease,margin .5s ease!important
  }

  .volantis-flink-list .flink-list-item .info span {
    display: block
  }

  .volantis-flink-list .flink-list-item .info .title {
    font-weight: 600;
    font-size: var(--global-font-size);
    color: var(--liushen-text);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease
  }

  .volantis-flink-list .flink-list-item .info .desc {
    font-size: var(--global-font-size);
    word-wrap: break-word;
    line-height: 1.2;
    color: #888;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2
  }

  .volantis-flink-list .flink-list-item:hover .info img {
    width: 0;
    height: 0;
    margin-right: 0
  }

  .volantis-flink-list .flink-list-item:hover .info .title {
    color: #ff5722
  }

  .volantis-flink-list .flink-list-item .img {
    background: var(--card-bg);
    -webkit-box-shadow: var(--card-box-shadow);
    box-shadow: var(--card-box-shadow);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    border-radius: 12px;
  }
  #article-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    -webkit-transition: filter 375ms ease-in .2s;
    -moz-transition: filter 375ms ease-in .2s;
    -o-transition: filter 375ms ease-in .2s;
    -ms-transition: filter 375ms ease-in .2s;
    transition: filter 375ms ease-in .2s;
    border-radius: 12px;
    }

  .volantis-flink-list .flink-list-item .info img {
    width: 32px;
    height: 32px;
    pointer-events: none;
    border-radius: 16px !important;
    float: left;
    margin-right: 8px !important;
    -webkit-transition: height .5s ease, width .5s ease, margin .5s ease !important;
    -moz-transition: height .5s ease, width .5s ease, margin .5s ease !important;
    -o-transition: height .5s ease, width .5s ease, margin .5s ease !important;
    -ms-transition: height .5s ease, width .5s ease, margin .5s ease !important;
    transition: height .5s ease, width .5s ease, margin .5s ease !important;
  }
  .volantis-flink-list .flink-list-item {
    margin: 8px;
    width: calc(100% / 4 - 16px);
    display: block;
    line-height: 1.4;
    height: 100%;
  }
style.
  /* 友链检查延迟美化(柳神) */
  /* 由苏晓河进行编写以及调整 */
  /* 时间：2025年3月7日 */
  .status-tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    margin: 5px;
    border-radius: 8px;
    font-size: 9px;
    color: #fff;
    font-weight: 700;
    transition: font-size .3s ease-out, width .3s ease-out, opacity .3s ease-out;
  }
  .flink-list-item:hover .status-tag {
    font-size: 0px;
    opacity: 0;
  }
  /* 固态颜色 */
  .status-tag-green {
    background-color: #005E00; /* 绿色 */
  }
  .status-tag-light-yellow {
    background-color: #FED101; /* 浅黄色 */
  }
  .status-tag-dark-yellow {
    background-color: #F0B606; /* 深黄色 */
  }
  .status-tag-red {
    background-color: #B90000; /* 红色 */
  }
style.
  /* 友链检查延迟美化以及卡片美化(轻笑) */
  /* 由苏晓河进行编写以及调整 */
  /* 时间：2025年3月7日 */

  /* 1.美化延迟卡片 */
  .state {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 12px;
    color: #ddd;
    border-radius: 6px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, .5);
    transform: scale(.6);
    transform-origin: left top;
  }
  .site-card .img {
    border-radius: 11.5px !important;
  }
  .site-card-group.link-no-img .site-card .state {
    left: 3px;
    top: 3px;
  }

  /* 2.美化友链卡片 */
  .site-card-group.link-no-img .site-card {
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: rgba(255, 255, 255, .35);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    height: 69px;
    overflow: hidden;
    padding: 0 .2em;
  }
  .site-card-group.link-no-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -8px;
    align-items: stretch;
  }
  .site-card-group.link-no-img {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: -8px;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .site-card-group.link-no-img .site-card .info img {
    margin: 3px 4px 0 0 !important;
    width: 50px;
    height: 50px;
  }
  .site-card .info {
    margin: 6px 5px 7px;
  }