/* toc模块美化 */
/* 由苏晓河进行编写以及调整 */
/* 时间：2025年3月7日 */

:root {
    --sxiaohe-toc-link-color: #505050;
}
[data-theme=dark] {
    --toc-link-color: rgba(255, 255, 255, 0.8);
}
/* toc点击卡片 */
#aside-content #card-toc .toc-content .toc-link {
    color: var(--sxiaohe-toc-link-color)!important;
}
#aside-content #card-toc .toc-content .toc-link.active {
    background: #00c4b6 !important;
    border-radius: 8px;
}
/* toc阅读百分比数字 */
#aside-content #card-toc .toc-percentage {
    font-size: 183%!important;
}