script(type='text/javascript')
  | // 注册 Service Worker 的函数
  | function registerServiceWorker() {
  |   if ('serviceWorker' in navigator) {
  |     window.addEventListener('load', () => {
  |       navigator.serviceWorker.register('/service-worker.js')
  |        .then((registration) => {
  |           console.log('ServiceWorker registration successful with scope: ', registration.scope);
  |         })
  |        .catch((err) => {
  |           console.error('ServiceWorker registration failed: ', err);
  |         });
  |     });
  |   }
  | }
  | 
  | // 向 Service Worker 发送消息并监听响应的函数
  | function sendMessageToServiceWorker() {
  |   if ('serviceWorker' in navigator && navigator.serviceWorker.controller) {
  |     try {
  |       // 发送更新指令到 Service Worker
  |       // 'update' 改为 'refresh' 即可触发缓存刷新
  |       navigator.serviceWorker.controller.postMessage('update');
  |       console.log('已向 Service Worker 发送 update 消息');
  | 
  |       // 监听 Service Worker 发送的消息
  |       navigator.serviceWorker.addEventListener('message', (event) => {
  |         const data = event.data;
  |         if (data && data.type) {
  |           switch (data.type) {
  |             case 'update':
  |               // 这里写更新后的操作
  |               console.log('收到 update 消息，执行更新后的操作');
  |               break;
  |             case 'refresh':
  |               // 这里写强刷缓存后的操作
  |               console.log('收到 refresh 消息，执行强刷缓存后的操作');
  |               break;
  |             default:
  |               console.error(`未知事件：${data.type}`);
  |           }
  |         } else {
  |           console.error('收到的消息缺少 type 属性', data);
  |         }
  |       });
  |     } catch (error) {
  |       console.error('向 Service Worker 发送消息时出错', error);
  |     }
  |   }
  | }
  | 
  | // 调用注册和发送消息的函数
  | registerServiceWorker();
  | sendMessageToServiceWorker();
script(type='text/javascript')
  | /* switchDarkMode JS */
  | function switchDarkMode() { // Switch Between Light And Dark Mode
  |   const nowMode = document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'light';
  |   if (nowMode === 'light') {
  |     activateDarkMode();
  |     saveToLocal.set('theme', 'dark', 2);
  |     GLOBAL_CONFIG.Snackbar!== undefined && btf.snackbarShow(GLOBAL_CONFIG.Snackbar.day_to_night);
  |   } else {
  |     activateLightMode();
  |     saveToLocal.set('theme', 'light', 2);
  |     GLOBAL_CONFIG.Snackbar!== undefined && btf.snackbarShow(GLOBAL_CONFIG.Snackbar.night_to_day);
  |   }
  |   // handle some cases
  |   typeof utterancesTheme === 'function' && utterancesTheme();
  |   typeof FB === 'object' && window.loadFBComment();
  |   window.DISQUS && document.getElementById('disqus_thread').children.length && setTimeout(() => window.disqusReset(), 200);
  | } 