extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
    #posts-chart(data-start="2021-01" style="height: 300px; padding: 10px;")
    - const archiveLength = findArchiveLength(fragment_cache)
    .article-sort-title= _p('page.articles') + ' - ' + archiveLength
    +articleSort(page.posts, page.current)
    include includes/pagination.pug
    style.
      @media screen and (max-width: 600px) {
        .layout>div:first-child:not(.recent-posts) {
          padding: 3px 11px 10px!important ;
        }
      }
      .article-sort {
        padding-left: 0!important;
      }