extends includes/layout.pug

block content
block content
  script(src="https://cdn.iocdn.cc/npm/echarts@4.9.0/dist/echarts.min.js")
  #page(style="border-radius: 18px; padding: 10px 35px;")
    if page.top_page && page.top_page === true
      include includes/sxiaohe_pug/page/icat_change.pug
    else
      if top_img === false
        h1.page-title= page.title
    case page.type
      when 'wiki'
        include wikione.pug
      when 'wiki_post'
        include wiki_post.pug
      when 'essays'
        include includes/sxiaohe_pug/page/essays.pug
      when 'essay'
        include includes/sxiaohe_pug/page/essay.pug
      when 'about'
        include includes/sxiaohe_pug/page/about.pug
      when 'equipment'
        include includes/sxiaohe_pug/page/equipment.pug
      when 'hypergrygh'
        include includes/sxiaohe_pug/page/hypergrygh.pug
      when 'tags'
        include includes/page/tags.pug
      when 'link'
        include includes/page/flink.pug
      when 'categories'
        include includes/page/categories.pug
      default
        include includes/page/default-page.pug

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})