- const { darkmode } = theme
nav#nav
  span#blog_name
    .back-home-button(tabindex='-1')
      i.back-home-button-icon.fas.fa-grip-vertical
      .back-menu-list-groups
        .back-menu-list-group
          .back-menu-list-title 网页
          .back-menu-list
            a.back-menu-item(href='/', title='前往博客主页', target='_blank', one-link-mark='yes')
              img.back-menu-item-icon(src='/img/avatar.avif' alt="博客图标")
              span.back-menu-item-text 博客
          .back-menu-list-title 项目
          .back-menu-list
            a.back-menu-item(href='https://cloud.sxiaohe.top/', rel='external nofollow', title='前往云盘主页', target='_blank', one-link-mark='yes')
              img.back-menu-item-icon(src='/img/avatar.avif' alt="云盘图标")
              span.back-menu-item-text 晓河云盘
            a.back-menu-item(href='https://jsd.sxiaohe.top/', rel='external nofollow', title='前往云盘主页', target='_blank', one-link-mark='yes')
              img.back-menu-item-icon(src='/img/avatar.avif' alt="jsd镜像图标")
              span.back-menu-item-text jsd镜像网站

    a#site-name(href=url_for('/'))
      .title #[=config.title]
      i.fa-solid.fa-house

  #menus
    !=partial('includes/header/menu_item', {}, {cache: true})

    if (theme.algolia_search.enable || theme.local_search.enable)
      .nav-button#search-button
        a.site-page.social-icon.search
          i.fas.fa-search.fa-fw
      
      .nav-button#search-button
        a.nav-rightbutton.site-page.darkmode_switchbutton(onclick="switchDarkMode()")
          i.fas.fa-adjust
      
      .nav-button#search-button(title="随机前往一个开往项目网站")
        a.site-page(data-pjax-state="external" draggable="false" href="https://www.travellings.cn/go.html" rel="external nofollow" title="随机前往一个开往项目网站")
          i.anzhiyu-icon-train.anzhiyufont
      
      #console-switch.nav-button
        a.console-switch-btn(data-pjax-state="external" href="javascript:void(0);" onclick="ctrl.showConsole()" rel="external nofollow" title="控制中心")
          i.anzhiyu-icon-train.anzhiyufont
      
      #nav-music-ctrl
        #music-Backward.nav-button
          a.aplayer-icon-play(data-pjax-state="external" href="javascript:void(0);" onclick="ctrl.musicBackward()" rel="external nofollow" title="上一曲")
            i.blogfont.gc-180.icon-play-next
        #music-Switch.nav-button
          a.aplayer-icon-play(data-pjax-state="external" href="javascript:void(0);" onclick="ctrl.musicSwitch()" rel="external nofollow" title="音乐开关")
            i.blogfont.icon-play
        #music-Forward.nav-button
          a.aplayer-icon-play(data-pjax-state="external" href="javascript:void(0);" onclick="ctrl.musicForward()" rel="external nofollow" title="下一曲")
            i.blogfont.icon-play-next
      
    .nav-button#toggle-menu
      a.site-page
        i.fas.fa-bars.fa-fw