style.
    /***************** 评论美化 *****************/
    /***************** 作者：苏晓河 *****************/
    /***************** 时间：2025年3月28日 *****************/
    /***************** twikoo评论美化 *****************/
    /* 1.卡片美化 */
    .tk-submit {
        padding: 20px 20px 20px;
        /* margin: -20px -20px -20px; */
        background: var(--style-border-always);;
        border-radius: 6px;
    }
    .tk-comment {
        padding: 20px 20px 20px;
        /* margin: -20px -20px -20px; */
        background: var(--style-border-always);;
        border-radius: 6px;
    }
    /* 2.取消高度限制 */
    .tk-row.actions {
        margin-bottom: 0!important;
    }
    /* 3.优化页面有多少评论的标题 */
    .tk-comments-title {
        padding: 20px 17px;
    }
    /* 4.美化底部版权 */
    .tk-footer {
        font-size: 12PX;
    }