div#console
    div.console-head
        span 控制中心
    div.close-btn(onclick="ctrl.hideConsole()" href="javascript:void(0);")
        i.fas.fa-circle-xmark
    div.console-btn-group

        div.console-btn-item#darkItem
            a.switchButton#darkSwitchBtn(onclick="ctrl.switchDarkMode()" title="深色模式" href="javascript:void(0);" rel="external nofollow" data-pjax-state="external")
                i#iconDarkMode.fas.fa-moon

        div.console-btn-item#charItem
            a.switchButton#charSwitchBtn(type="button" title="简/繁" href="javascript:void(0);" rel="external nofollow" data-pjax-state="external")
                i#iconCharMode.fas(style="font-size:1.5rem;") 繁

        div.console-btn-item#ircItem
            a.switchButton#ircSwitchBtn(onclick="ctrl.ircShowHide()" title="歌词显示" href="javascript:void(0);" rel="external nofollow" data-pjax-state="external")
                i#iconIrcMode.fas(style="font-size:1.5rem;") 词

        div.console-btn-item#asideItem
            a.switchButton#asideSwitchBtn(onclick="ctrl.hideAsideBtn()" title="单栏/双栏" href="javascript:void(0);" rel="external nofollow" data-pjax-state="external")
                i#iconAside.fas.fa-arrows-alt-h
    div.console-mask(onclick="ctrl.hideConsole()" href="javascript:void(0);" rel="external nofollow")