script(type='text/javascript')
  | /* switchDarkMode JS */
  | function switchDarkMode() { // Switch Between Light And Dark Mode
  |   const nowMode = document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'light';
  |   if (nowMode === 'light') {
  |     activateDarkMode();
  |     saveToLocal.set('theme', 'dark', 2);
  |     GLOBAL_CONFIG.Snackbar!== undefined && btf.snackbarShow(GLOBAL_CONFIG.Snackbar.day_to_night);
  |   } else {
  |     activateLightMode();
  |     saveToLocal.set('theme', 'light', 2);
  |     GLOBAL_CONFIG.Snackbar!== undefined && btf.snackbarShow(GLOBAL_CONFIG.Snackbar.night_to_day);
  |   }
  |   // handle some cases
  |   typeof utterancesTheme === 'function' && utterancesTheme();
  |   typeof FB === 'object' && window.loadFBComment();
  |   window.DISQUS && document.getElementById('disqus_thread').children.length && setTimeout(() => window.disqusReset(), 200);
  | } 
script(type='text/javascript')
  | document.addEventListener('DOMContentLoaded', function () {
  |   const posts = document.querySelectorAll('#post-info');
  |   posts.forEach(function (post) {
  |       const cover = post.getAttribute('data-cover');
  |       if (cover) {
  |           post.style.backgroundImage = `url(${cover})`;
  |       }
  |   });
  | });
script(type='text/javascript')
  | if ('serviceWorker' in navigator)
  |   window.addEventListener('load', () => {
  |     navigator.serviceWorker.register('/service-worker.js')
  |      .then(registration => {
  |         console.log('Service Worker registered with scope:', registration.scope);
  |       })
  |      .catch(error => {
  |         console.error('Service Worker registration failed:', error);
  |       });
  |   });