.contact-info
  .option
    i.fas.fa-rocket
    .bloktop
    .text 风吹草地现牛羊
      .strip
      .something
  .option
    i.fas.fa-cube
    .blok
    .text
      .strip
      <div class="post-reward"><button class="tip-button reward-button"><span class="tip-button__text">投 喂</span><div class="reward-main"><ul class="reward-all"><li class="reward-item"><a class="about-reward" href="" target="_blank"><img class="post-qr-code-img" src="" alt="微信"></a><div class="post-qr-code-desc">微信</div></li><li class="reward-item"><a class="about-reward" href="" target="_blank"><img class="post-qr-code-img" src="" alt="支付宝"></a><div class="post-qr-code-desc">支付宝</div></li></ul></div></button></div>
  .option
    i.fas.fa-music
    .blokbottom
    .text.aplayertext
      .strip
      #aplayer
        script.
          const ap = new APlayer({
            container: document.getElementById('aplayer'),
            fixed: true,
            order: 'random',
            preload: 'none',
            volume: 0.25,
            audio: [ 
              {
              name: 'L E V E I S(Cyberpunk)(Remix)',
              artist: 'vodKe',
              url: '/sxiaohe_source/music/songs/levels.mp3',
              lrc: '',
              cover: ''
              }
            ]
          });