.contact-info
  .option
    i.fas.fa-rocket
    .bloktop
    .text 风吹草地现牛羊
      .strip
      .something
  .option
    i.fas.fa-cube
    .blok
    .text
      .strip
      .post-reward.reward-card
        button.reward-button.tip-button
          span.tip-button__text 投 喂
          .reward-main(style="width: 400% !important; left: -300PX !important;")
            ul.reward-all(style="padding: 0px 0px!important;")
              li.reward-item
                a.about-reward(href="" target="_blank")
                  img.post-qr-code-img(alt="微信" src="https://sourceimage.s3.bitiful.net/pay/weixin.jpg")
                .post-qr-code-desc 微信
              li.reward-item
                a.about-reward(href="" target="_blank")
                  img.post-qr-code-img(alt="支付宝" src="https://cloud.myxz.top/d/pay/zfb.png?sign=jcRRGZcwiCDE27CtNsOPBqoTwhhRViiDtpBjgOLaaz0=:0")
                .post-qr-code-desc 支付宝
      style.
        .post-qr-code-desc {
          margin: -30PX;
        }
  .option
    i.fas.fa-music
    .blokbottom
    .text.aplayertext
      .strip
      #aplayer.no-destroy(mutex='true', listfolded='true', data-id='', data-preload="none" , data-server='netease', data-volume='0.25', data-order='random', data-type='playlist', data-fixed='true', data-autoplay='false')
        script.
          const ap = new APlayer({
            container: document.getElementById('aplayer'),
            fixed: true,
            order: 'random',
            preload: 'none',
            volume: 0.25,
            audio: [ 
              {
              name: 'L E V E I S(Cyberpunk)(Remix)',
              artist: 'vodKe',
              url: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/songs/levels.mp3',
              lrc: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/lrc/L%20E%20V%20E%20I%20S(Cyberpunk)(Remix).lrc',
              cover: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/cover/L%20E%20V%20E%20l%20S%20(Cyberpunk).avif'
              },
              {
              name: '逆天',
              artist: '呦猫UNEKO',
              url: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/songs/呦猫UNEKO%20-%20逆天.mp3',
              lrc: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/lrc/呦猫UNEKO%20-%20逆天.lrc',
              cover: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/cover/逆天.avif'
              },
              {
              name: 'BARRETE!(SLOWED + REVERB)',
              artist: 'CHASHKAKEFIRA&D4C',
              url: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/songs/BARRETE!(SLOWED%20+%20REVERB)-CHASHKAKEFIRA&D4C.mp3',
              lrc: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/lrc/BARRETE!(SLOWED%20+%20REVERB)-CHASHKAKEFIRA&D4C.lrc',
              cover: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/cover/BARRETE!(SLOWED%20+%20REVERB)%20.avif'
              },
              {
              name: '无人扶我青云志',
              artist: 'ZMAGE-Y',
              url: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/songs/ZMAGE-Y%20-%20无人扶我青云志%20(ZMAGE-Y%20remix).mp3',
              lrc: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/lrc/无人扶我青云志%20(ZMAGE-Y%20remix)%20(Remix)-ZMAGE-Y.lrc',
              cover: 'https://jsd.sxiaohe.top/gh/661111/hexoSEVER/source/sxiaohe_source/music/cover/无人扶我青云志%20(ZMAGE-Y%20remix).avif'
              }
            ]
          });